* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("images/web/bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-position-y: -100vh;
  background-size: auto;
  background-attachment: scroll;
  background-color: #fff;
  max-width: 1920px;
  max-height: 5355px;
  width: 100vw;
  height: auto;
}

header {
  max-width: 1920px;
  width: 100vw;
  max-height: 1080px;
  height: 100vh;
  background-image: url("images/web/s1 ft1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #222;
  color: #fff;
}

.topmenu {
  position: relative;
}

.logo {
  margin: 20px;
  position: relative;
  display: inline-block;
}
.logo-mobile { display: none; }

/* [ON BIG SCREENS] */
/* (A) WRAPPER */
#hamnav {
  display: inline-block;
  justify-content: space-evenly;
  width: auto;
  /* Optional */
  margin: 30px;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: inline-block; }

#hamitems a {
  display: inline-flex;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { color: #ff0; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 600px) {
  body { background-image: none; }

  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline;
    color: #fff;
    font-style: normal;
    font-size: 3em;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block;}
  
  .logo { display: none; }
  .logo-mobile {
    display: flex;
    position: relative;
    margin: -4vh auto;
  }
}

@media screen and ( max-width: 375px; ) {
  header {
    max-width: 375px;
    width: 100vw;
    max-height: 812px;
    height: auto;
    background-image: url("images/mobile/s1 ft1.png"); 
  }
}

/* Cabeçalho */

#header-content {
  display: block;
  margin-top: 150px;
  margin-bottom: 20px;
}

#header-content h1, p {
  color: #fff;
  text-align: center;
}

#header-content h1 {
  font-size: 5em;
  font-weight: 900;
}

#header-content p {
  font-weight: 300;
  margin-bottom: 3vh;
}

strong {
  color: #ff0;
  font-weight: 600;
}

#contato {
  padding: 20px;
  background-color:#1cd4e9;
  font-size: .9em;
  color: #fff;
  border-radius: 200px;
  border: none;
}

#contato:hover {
  background-color: #ff0;
  color: #000;
}

/* Conteúdo */

#content {
  height: auto;
  width: 100vw;
  padding: 30px 100px;
  color: #fff;
}

#content h1{
  font-size: 2.8em;
  font-weight: 700;
  color: #000;
  display: block;
  padding: 2.2vh 0 9vh 0;
}

/* Sobre */

#sobre {
  width: 65vw;
  height: auto;
  display: block;
  padding: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  margin-bottom: 11vh;
}

#sobre:hover { box-shadow: 0 5px 14px 0px rgba(0, 0, 0, .6); opacity: 90%; }

#sobre p { color: #000; }
#sobre p:nth-of-type(2) { font-weight: 600; }

/* Serviços */

#servicos {
  padding: 20px 0;
  display: inline;
}

#servicos-itens {
  padding: 10px 20px;
  display: inline-block;
}


.card-servicos {
  justify-content: space-between;
  vertical-align: top;
  display: inherit;
  margin: 1vh 1.2vw;
  max-width: 513px;
  /* width: 342px; */
  width: 24vw;
  max-height: 647px;
  /* height: 431px; */
  height: 65vh;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.card-servicos:hover { box-shadow: 0 0px 14px 3px rgba(0, 0, 0, .6); opacity: 90%; }
.card-servicos:nth-of-type(1) { background-image: url("images/web/s3\ ft1.png"); }
.card-servicos:nth-of-type(2) { background-image: url("images/web/s3\ ft2.png"); }
.card-servicos:nth-of-type(3) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/web/s3\ ft3.png"); }

.card-servicos h2 {
  color: #ff0;
  font-size: 1.5em;
}

.card-servicos p{
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  font-size: 1.1em;
}

/* Diferenciais */

#diferenciais {
  padding: 6vh 0;
  margin: auto;
  display: block;
}
#diferenciais img {
  display: block;
  margin: 1vh auto;
}

#diferenciais-itens {
  display: inline-block;
}

.card-diferenciais {
  justify-content: space-between;
  display: inherit;
  margin: 1vh 3.5vw;
  max-width: 388px;
  width: 258px;
  width: 19vw;
  max-height: 669px;
  height: 446px;
  height: 68vh;
  padding: 20px;
  border-radius: 42px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
  overflow: hidden;
}
.card-diferenciais:hover { box-shadow: 0 0 14px 3px rgba(0, 0, 0, .6); opacity: 90%; }
.card-diferenciais:nth-of-type(1) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/web/s4\ ft1.png"); }
.card-diferenciais:nth-of-type(2) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/web/s4\ ft2.png"); }
.card-diferenciais:nth-of-type(3) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/web/s4\ ft3.png"); }

.card-diferenciais p {
  /* margin: 1.5vh 1vw; */
  padding: 1vh 1vw;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  #header-content h1 {
    font-size: 10vw;
  }
  #header-content p {
    font-size: 2.4vw;
  }

  .card-servicos {
    display: inherit;
    margin: 1vh 1.2vw;
    max-width: 334px;
    width: 334px;
    max-height: 265px;
    height: 265px;
    padding: 10px;
  }
  .card-diferenciais {
    display: inherit;
    margin: 1vh 1.2vw;
    max-width: 334px;
    width: 334px;
    max-height: 333px;
    height: 333px;
    padding: 10px;
  }
  .card-servicos p, .card-diferenciais p {
    font-size: .85em;
    margin: .8vh auto;
  }
  .card-servicos h1, {
    font-size: 1em;
    margin: .8vh auto;
  }
  .card-servicos:nth-of-type(1) { background-image: url("images/mobile/s3\ ft1.png"); }
  .card-servicos:nth-of-type(2) { background-image: url("images/mobile/s3\ ft2.png"); }
  .card-servicos:nth-of-type(3) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/mobile/s3\ ft3.png"); }  
  .card-diferenciais:nth-of-type(1) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/mobile/s4\ ft1.png"); }
  .card-diferenciais:nth-of-type(2) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/mobile/s4\ ft2.png"); }
  .card-diferenciais:nth-of-type(3) { background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/mobile/s4\ ft3.png"); }
}

/* Rodapé */

footer {
  padding: 3vh 0 4vh 0;
  height: 100vh;
  width: 100vw;
  background-color: #ff0;
}

#footer-content {
  background-color: #222;
  padding: 8vh 7vw 5vh 7vw;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

#footer-data, #footer-form {
  display: inline-block;
  margin: 0 30px;
}


/* Contato, Endereço e texto */

#footer-data {
  width: 400px;
  height: 490px;
  color: #fff;
}

/* Logotipo Rocky, Facebook e Linkedin */
#footer-data-1 { display: flex; justify-content: space-between; margin: 10px 0 30px 0; }
#footer-data-1 span:nth-of-type(1, 2, 3) { display: inline-block; }

/* E-mail e telefone */
#footer-data-2 { display: flex; justify-content: space-between; margin: 10px 0 30px 0; }
#footer-data-2 span:nth-of-type(1, 2, 3, 4, 5) { display: inline-block; }

#footer-contato:nth-of-type(1) { font-weight: 100; }
#footer-contato:nth-of-type(2) { font-weight: 300; }

.footer-endereco {
  display: inline;
  font-size: .7em;
  font-weight: 300;
}

.footer-endereco:nth-of-type(2) { padding-left: 25px; }
.footer-endereco-icon { padding-top: 15px; }
#footer-data-text { margin: 10px 0 10px 0; }

#footer-data-text p{
  font-size: .85em;
  padding: 2vh 0;
  margin: 0px;
  overflow: hidden;
}

/* Formulário */

#footer-form {
  vertical-align: top;
  width: 400px;
  height: 490px;
  background-color: gray;
  padding: 0 20px;
}

#footer-form form { color: #aaa; font-size: 1.2em; }

#footer-form input {
  width: 100%;
  height: 1.4em;
  font-size: 1.1em;
  color: #ccc;
  margin: 20px 0 10px 0;
  padding: 25px;
}

#footer-form textarea {
  width: 100%;
  height: 15vh;
  margin: 20px 0 30px 0;
}

#footer-form button {
  padding: 10px 0;
  background-color: #1cd4e9;
  padding: 15px 0;
  width: 100%;
  font-size: .9em;
  font-weight: 600;
  color: #fff;
}

#blue-text { color: #1cd4e9; font-weight: 600; }

@media screen and (max-width: 768px) {
  #footer-content {
    display: block;
    height: 162vh;
    
  }
  #footer-data, #footer-form { margin: .5vh 0; }
}