* { box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("images/web/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  background-attachment: scroll; 
  background-color: #fff;
  max-height: 5355px;
  width: 100vw;
  max-width: 1920px;
  overflow-x: clip;
}

a:-webkit-any-link { text-decoration: none; color: inherit; }

/* Cabeçalho */
header {
  max-width: 1920px;
  width: 100vw;
  max-height: max-content;
  height: 100vh;
  background-image: url("images/web/s1 ft1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #222;
  color: #fff;
  overflow: hidden;
}

.topmenu { width: 100vw; }

.logo {
  margin: 2vh 5vw;
  position: relative;
  display: inline-block;
}
.logo:hover { opacity: 75% }
.logo-mobile { display: none; }

#header-content { display: block; margin: 0 auto; }

  /* Menu Web */
#hamnav {
  display: inline-block;
  justify-content: space-around;
  width: auto;
  margin: 2vh 2vw;
  float: right;
}

#hamnav nav { display: flex; }
#hamitems { display: flex; }

#hamitems a {
  display: inline-flex;
  padding: 1.4vh 1.1vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.4vw;
}

/* 3) Esconder Hamburguer */
#hamnav label, #hamburger { display: none; }
#hamnav label:hover, #hamburger:hover { opacity: 75%; }
#hamitems a:hover { color: #21a9b8; }

/* Modo retrato */
@media screen and ( orientation: portrait ) {
  /* Passar Menu horizontal para Menu vertical */
  #hamitems a {
    display: inline-block;
    width: 100vw;
    border-top: 1px solid #333;
    font-size: 2.3vh;
    border: auto;
  }

  /* Mostrar ícone hamburguer (label) */
  #hamnav label {
    display: block;
    color: #fff;
    font-style: normal;
    font-size: 6vh;
    padding: 1vh 3vw;
    position: relative;
    top: 0;
    left: 0;
  }

  /* Ativar / desativar o menu */
  #hamitems { display: none; }
  #hamnav { float: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
  
  /* Logotipos => esconder web / mostrar mobile */
  .logo { display: none; }
  .logo-mobile {
    position: absolute;
    top: 5.4vh;
    left: 40vw;
    display: block;
    margin: 0 auto;
  }
  .logo-mobile:hover { opacity: 75%; }
}

#header-content h1, p {
  color: #fff;
  text-align: center;
}

#header-content h1 {
  padding: 5vh 0;
  font-size: 8vw;
  font-weight: 900;
  line-height: .5vh;
  letter-spacing: .30vw;
}

#header-content p {
  font-weight: 300;
  padding: 4vh 0;
}

strong {
  color: #ff0;
  font-weight: 600;
}

#contato {
  padding: 3vh 5vw;
  background-color:#21a9b8;
  font-size: .9em;
  color: #fff;
  border-radius: 200px;
  border: none;
}
#contato:hover { opacity: 75%; }

/* Conteúdo */
#content {
  max-height: max-content;
  height: auto;
  width: 100vw;
  margin: 0 auto;
  color: #fff;
}

#content h1{
  font-size: 2.8em;
  font-weight: 700;
  color: #000;
  display: block;
  margin: 9vh 0 13vh 0;
}

/* Section id="content" */
  /* 1) Sobre */
#sobre { height: 100vh; max-height: max-content; padding: 0 7vw; }

.sobre, .sobre-mobile {
  min-height: fit-content;
  height: auto;
  width: auto;
  display: block;
  padding: 30px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  margin-right: 22vw;
}

.sobre:hover {
  box-shadow: 0 5px 14px 0px rgba(0, 0, 0, .6);
  opacity: 90%;
}

.sobre-mobile { display: none; }
#sobre p { color: #000; }
#sobre p:nth-of-type(2) { font-weight: 600; }

  /* 2) Serviços */
#servicos {
  margin: 0 auto;
  padding: 0 7vw;
  min-height: 100vh;
  height: max-content;
}
#servicos-itens { display: flex; }

.card-servicos {
  justify-content: space-between;
  vertical-align: top;
  display: block;
  margin: 1vh auto;
  width: 24vw;
  max-height: max-content;
  height: auto;
  padding: 1.4vh 3vw;
  border-radius: 25px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
}

.card-servicos:hover {
  box-shadow: 0 0px 14px 3px rgba(0, 0, 0, .6);
  opacity: 90%;
}

.card-servicos:nth-of-type(1) {
  background-image: url("images/web/s3\ ft1.png");
}

.card-servicos:nth-of-type(2) {
  background-image: url("images/web/s3\ ft2.png");
}

.card-servicos:nth-of-type(3) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
  ), url("images/web/s3\ ft3.png");
}

.card-servicos h2 {
  color: #ff0;
  font-size: 1.42em;
  margin-bottom: 3.2vh;
}

.card-servicos p {
  margin: 1vh 1vw;
  padding: 1vh 1.5vw;
  font-size: 1.07em;
}

  /* 3) Diferenciais */
#diferenciais {
  min-height: 100vh;
  height: max-content;
  margin: 0 auto;
  padding: 0 7vw;
}

#diferenciais img { display: block; margin: 5vh auto; }

#diferenciais-itens { display: flex; margin: 0 auto; }

.card-diferenciais {
  vertical-align: top;
  justify-content: space-between;
  display: block;
  margin: 1vh auto;
  min-width: 167px;
  width: 19vw;
  min-height: 290px;
  height: 60vh;
  padding: 1.4px;
  border-radius: 42px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.card-diferenciais:hover {
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, .6);
  opacity: 90%;
}

.card-diferenciais:nth-of-type(1) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
  ), url("images/web/s4\ ft1.png"); 
}

.card-diferenciais:nth-of-type(2) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
  ), url("images/web/s4\ ft2.png");
}

.card-diferenciais:nth-of-type(3) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
  ), url("images/web/s4\ ft3.png"); 
}

.card-diferenciais span { padding: 1vh 3vw; font-size: .87em; }

  /* 4) Rodapé */
footer {
  padding: 4vh 0 4vh 0;
  height: 100vh;
  width: 100vw;
  background-color: #ff0;
}

#footer-content {
  padding: 8vh 7vw;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
}

    /* Contato, Endereço e texto */
#footer-data {
  width: 33vw;
  height: 32vh;
  color: #fff;
}

      /* 1) Logotipo Rocky, Facebook e Linkedin */
#footer-data-1 {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}

      /* 2) E-mail e telefone */
#footer-data-2 {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0;
}
#footer-contato:nth-of-type(1) { font-weight: 100; }
#footer-contato:nth-of-type(2) { font-weight: 300; }

.footer-endereco {
  display: inline;
  font-size: .9em;
  font-weight: 300;
}
.footer-endereco:nth-of-type(2) { padding-left: 2vw; }
.footer-endereco-icon { padding-top: 1vh; }

      /* 3) Texto abaixo das informações de contato */
#footer-data-text, #footer-data-text-mobile { margin: 1.2vh auto; }

#footer-data-text p, #footer-data-text-mobile p {
  font-size: 2vh;
  padding: 2vh 0;
  margin: 0px;
  overflow: hidden;
}

#blue-text { color: #21a9b8; font-weight: 600; }
#footer-data-text-mobile { display: none; }

  /* Formulário p/ contato */
#footer-form {
  vertical-align: top;
  min-height: min-content;
  height: fit-content ;
  background-color: #868686;
  box-sizing: content-box;
  width: 33vw;
  padding: 3vh 2vw;
}

#footer-form form {
  color: #999;
  font-size: 1.2em;
  height: max-content;
}

#footer-form input {
  width: 100%;
  height: 1.4em;
  font-size: 1.1em;
  color: #ccc;
  padding: 3vh 1vw;
}

#input1 { margin-bottom: 2vh; }
#input2, #input3 { margin: 2vh 0; }

#footer-form textarea {
  width: 100%;
  height: 16vh;
  margin: 2vh 0;
  font-size: 1.1em;
  font-family: inherit;
  color: #ccc;
  padding: 2vh 1.2vw;
}

#footer-form button {
  padding: 1.2vh 0;
  background-color: #1cd4e9;
  padding: 15px 0;
  width: 100%;
  font-size: .9em;
  font-weight: 600;
  color: #fff;
  margin-top: 2vh;
}
#footer-form button:hover { opacity: 75%; }

#footer-data, #footer-form {
  display: inline-block;
  margin: 0 2px;
}

/* Ajustes para Mobile */
@media screen and ( orientation: portrait ), ( max-width: 415px ) {
  body { background-image: none; }
  
  /* Cabeçalho */
  header {
    height: 100vh;
    max-height: max-content;
    background-image: url("images/mobile/s1\ mobile.png");
    background-size: cover;
  }
  
  #header-content { margin: auto; }
  .logo-mobile {
    width: 25vw;
    height: auto;
    padding-left: 1vw;
  }
  #header-content h1 {  font-size: 10.5vw; }
  #header-content p { font-size: 2.2vw; }
  #header-content button { font-size: 1.5em;}


    /* Conteúdo */
  #content { height: max-content; margin: 0 auto; }
  #content h1 { margin: 9vh 0 5vh 5vw; }
  
      /* 1) Sobre */
  #sobre { height: max-content; width: auto; }
  .sobre-mobile {
    width: 80vw;
    height: max-content;
    margin: 3vh auto;
  }

  .sobre { display: none }
  .sobre-mobile { display: block; }
  .sobre-mobile:hover {
    box-shadow: 0 5px 14px 0px rgba(0, 0, 0, .6);
    opacity: 90%;
  }
  
      /* 2) Serviços */
  #servicos { height: max-content; width: auto; }
  #servicos-itens { display: block; margin: 0 auto; }
  
  .card-servicos {
    margin: 4vh 6vw;
    width: auto;
    height: max-content;
    padding: 5vh 0 1.3vh 0;
    border-radius: 44px;
  }

  .card-servicos p {
    font-size: .9em;
    font-weight: 400;
    line-height: 3vh;
    margin: 0 auto;
    padding: 1.5vh 3.6vw;
  }

  .card-servicos h2 { font-size: 1.9em; }
  
  .card-servicos:nth-of-type(1) { 
    background-image: url("images/mobile/s3\ ft1.png");
  }
  
  .card-servicos:nth-of-type(2) {
    background-image: url("images/mobile/s3\ ft2.png");
  }
  
  .card-servicos:nth-of-type(3) { 
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s3\ ft3.png");
  }
  
      /* 3) Diferenciais */
  #diferenciais { min-height: 100vh; height: max-content; width: auto; }
  
  #diferenciais-itens { display: block; margin: 0 auto; }

  .card-diferenciais {
    margin: 4vh 6vw;
    width: auto;
    height: 58vh;
    padding: 5vh 0 1vh 0;
    border-radius: 70px;
  }
  
  .card-diferenciais p {
    margin: .8vh 6vw;
    padding: 0 10vw;
    font-size: 1.2;
    font-weight: 500;
    line-height: 4.4vw;
  }

  .card-diferenciais:nth-of-type(1) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft1.png");
  }
  
  .card-diferenciais:nth-of-type(2) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft2.png"); 
  }
  
  .card-diferenciais:nth-of-type(3) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft3.png");
  }
  
    /* Rodapé */
  footer {
    background-color: #ff0;
    max-height: max-content;
    height: auto;
    padding: 3vh 0;
    width: 100vw;
  }

  #footer-content {
    display: block;
    height: max-content;
    padding: 0;
    margin: 0;
    width: inherit;
    font-size: 1.5em;
  }

      /* 1) Info Rocky */
  #footer-data {
    display: inherit;
    margin: 2vh auto;
    width: 88vw;
    min-width: 300px;
    height: auto;
    font-size: 1.2em;
  }

  #logo-rocky-footer img { width: 22vw; height: auto; }
  #logo-fb-footer img { width: 7vw; height: auto; }
  #logo-linkedin-footer img { width: 7vw; height: auto; }
  #email-footer img { width: 3.5vw; height: auto; }
  #phone-footer img { width: 3.5vw; height: auto; }
  #address-footer img { width: 4.5vw; height: auto; }

  #footer-data-text { display: none; }
  #footer-data-text-mobile { display: block; }
  #footer-data-text-mobile p { font-size: .5em; }

      /* 2) Formulário p/ contato */
  #footer-form {
    display: block;
    height: max-content;
    width: auto;
    font-size: 1.5em;
  }

  #footer-form input { padding: 3vh 2vw; font-size: 1.3em;}
  #footer-form form { padding: 2vh 3vw; margin: 0; }
  #footer-form button { padding: 3vh 3vw; font-size: 1.3em; }
}

/* Ajustes modo Portrait / high resolution => ( iPad, iPad Pro ) */
@media screen and ( orientation: portrait) and ( min-width: 768px ) {
  body { background-image: none; }
  
  header { min-height: 100vh; height: max-content; }

  .logo-mobile {
    position: absolute;
    top: 5.4vh;
  }

  #sobre { height: max-content; }
  #sobre { font-size: 2em; }

  #servicos { padding: 2vh 5vw; font-size: 2em; }
  .card-servicos { width: 75vw; margin: 3.5vh auto; }
  .card-servicos h1 { font-size: .93em; }
  #diferenciais { font-size: 2.5em; }
  .card-diferenciais img { height: 10vh; }

  #footer-data-text-mobile p { font-size: 1em; }
}

/* Ajuste para modo paisagem em smart phones */
@media screen and ( orientation: landscape ) and ( max-height: 650px ), 
screen and ( orientation: landscape ) and ( max-width: 415px ) {

  header { height: max-content; }

  #header-content {
    display: block;
    margin: auto;
    height: 100vh;
    max-height: max-content;
  }

  #hamitems a {
    font-size: 1.6vw;
    display: inline-flex;
    height: min-content;
    padding: 1.4vh 1.1vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

    /* Conteúdo */
  #content {
    height: max-content;
    margin: 0 auto;
  }
  #content h1 { margin: 9vh 0 5vh 5vw; }
  
      /* 1) Sobre */
  #sobre { height: max-content; width: auto; }

  .sobre-mobile {
    width: 80vw;
    height: max-content;
    margin: 3vh auto;
  }

  .sobre { display: none }
  .sobre-mobile { display: block; }
  .sobre-mobile:hover {
    box-shadow: 0 5px 14px 0px rgba(0, 0, 0, .6);
    opacity: 90%;
  }
  
      /* 2) Serviços */
  #servicos { height: max-content; width: auto; }
  #servicos-itens { display: block; margin: 0 auto; }
  
  .card-servicos {
    margin: 4vh 6vw;
    width: auto;
    height: max-content;
    padding: 5vh 0 1.3vh 0;
    border-radius: 44px;
  }

  .card-servicos p {
    font-size: .9em;
    font-weight: 400;
    line-height: 3vh;
    margin: 0 auto;
    padding: 1.5vh 3.6vw;
  }

  .card-servicos h2 { font-size: 1.9em; }
  
  .card-servicos:nth-of-type(1) {
    background-image: url("images/mobile/s3\ ft1.png");
  }
  
  .card-servicos:nth-of-type(2) {
    background-image: url("images/mobile/s3\ ft2.png");
  }
  
  .card-servicos:nth-of-type(3) { 
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s3\ ft3.png");
  }
  
      /* 3) Diferenciais */
  #diferenciais { height: max-content; width: auto; }
  
  #diferenciais-itens { display: block; margin: 0 auto; }

  .card-diferenciais {
    margin: 4vh 6vw;
    width: auto;
    height: fit-content;
    padding: 5vh 0 1vh 0;
    border-radius: 70px;
  }
  
  .card-diferenciais p {
    margin: .8vh 6vw;
    padding: 0 10vw;
    font-size: 1.2;
    font-weight: 500;
    line-height: 4.4vw;
  }

  .card-diferenciais:nth-of-type(1) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft1.png");
  }
  
  .card-diferenciais:nth-of-type(2) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft2.png"); 
  }
  
  .card-diferenciais:nth-of-type(3) {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("images/mobile/s4\ ft3.png");
  }
}

/* Ajuste para iPad Pro em modo Paisagem */
@media screen and ( orientation: landscape ) and ( min-width: 1366px ) {

  #hamitems a { 
    font-size: 1.4vw;
    display: inline-flex;
    height: min-content;
    padding: 1.4vh 1.1vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  #sobre, #servicos, #diferenciais {
    min-height: min-content;
    height: fit-content;
    max-height: 100vh;
  }

  #diferenciais { height: 68vh; }

  .card-diferenciais {
    vertical-align: top;
    height: auto;
    max-height: fit-content;
  }
}